@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif-Bold.woff2') format('woff2'),
    url('../fonts/LiberationSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif.woff2') format('woff2'),
    url('../fonts/LiberationSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Liberation Serif', sans-serif;
    font-weight: bold;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
